/* Reset */
html,
body,
div,
span,
applet,
object,
iframe {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ROOT */
:root {
    --color-primary: #ffffff;
    --color-secondary: #ffffff;
    --color-tertiary: #ffffff;
    /* Mode Dark */
    --color-primary-dark: #ffffff;
    --color-secondary-dark: #ffffff;
    --color-tertiary-dark: #ffffff;
    /* Font Family */
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

/* Mobile version */

/* Desktop version */
