.portfolio_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio_h2 {
	color: aqua;
	font-size: 3rem;
	text-align: center;
}

.portfolio_links_container {
	display: flex;
	gap: 2rem;
	max-width: 65%;
	justify-content: center;
	flex-wrap: wrap;
}

.flip-card {
	background-color: transparent;
	width: 15rem;
	height: 10rem;
	perspective: 1000px;
	border-radius: 0.5rem;
	overflow: hidden;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front.one {
	background-size: cover;
	color: black;
}

.flip-card-back {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	color: black;
	transform: rotateY(180deg);
}

.flip-card-back h2 {
	color: #01c4c4;
	font-size: 2rem;
	margin: 0;
}

.flip-card-back p {
	color: #090920;
	font-weight: 800;
}

.flip-card-decor {
	position: absolute;
	top: -7rem;
	left: -0.1rem;
	height: 15rem;
	width: 15rem;
	border-radius: 100%;
	z-index: -2;
	background-color: grey;
	opacity: 15%;
}
